.DS_Store
*.json
*.csv
gradcam_multi_component/*
gradcam_compare/*
wilcoxon*.py

dataset/*

checkpoints/*
ablation_PICAI/
ablation/
.vscode/
.claude/
heatmap/
infer/
origin/
output/
visual_compare_sota/
ablation_template_chengda.json
ablation_template_PICAI.json
ablation.xlsx
compare_sota_template_chengda.json
compare_sota_template_picai.json

grad_cam_config_PICAI.json
metrics_results.json
model_comparison.xlsx